# Ejemplo de variables de entorno para E-ticket

# --- API Gateway ---
PORT=3000
CORS_ORIGIN=http://localhost:3000
AUTH_SERVICE_URL=http://auth-service:8000

# --- Auth Service (Django) ---
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_NAME=auth_db
DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password
DATABASE_HOST=postgres-db
DATABASE_PORT=5432

# --- Otros servicios (ajusta según tus microservicios) ---
# EVENTS_SERVICE_URL=http://events-service:8000
# ORDERS_SERVICE_URL=http://orders-service:8000
# NOTIFICATIONS_SERVICE_URL=http://notifications-service:8000

# --- Orders Service (NestJS) ---
ORDERS_PORT=3001
ORDERS_DATABASE_NAME=auth_db
ORDERS_DATABASE_USER=postgres
ORDERS_DATABASE_PASSWORD=your-db-password
ORDERS_DATABASE_HOST=localhost
ORDERS_DATABASE_PORT=5433
ORDERS_DATABASE_SCHEMA=orders

# --- Base de datos y brokers ---
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
MONGO_INITDB_DATABASE=eticket
MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=your-mongo-password
REDIS_HOST=redis
REDIS_PORT=6379

# --- JWT y seguridad ---
# SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=5
# SIMPLE_JWT_REFRESH_TOKEN_LIFETIME=60
