PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=auth_db
DATABASE_USER=postgres
DATABASE_PASSWORD=copy-from-root-env
DATABASE_SCHEMA=orders
TYPEORM_SYNCHRONIZE=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_ORDER_CONFIRMED_CHANNEL=ORDER_CONFIRMED