SECRET_KEY=replace-with-a-real-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_NAME=auth_db
DATABASE_USER=postgres
DATABASE_PASSWORD=replace-with-db-password
DATABASE_HOST=localhost
DATABASE_PORT=5433